# PREDICT FOR TEST DATA PROVIDED

In [5]:
# import dependencies
import pandas as pd
import numpy as np
from keras.models import model_from_json

In [6]:
data_test = pd.read_csv('test.csv')
data_test

        Store  Dept       Date IsHoliday  SalesForecast
0           1     1   4-May-16     False            NaN
1           1     2   4-May-16     False            NaN
2           1     3   4-May-16     False            NaN
3           1     4   4-May-16     False            NaN
4           1     5   4-May-16     False            NaN
5           1     6   4-May-16     False            NaN
6           1     7   4-May-16     False            NaN
7           1     8   4-May-16     False            NaN
8           1     9   4-May-16     False            NaN
9           1    10   4-May-16     False            NaN
10          1    11   4-May-16     False            NaN
11          1    12   4-May-16     False            NaN
12          1    13   4-May-16     False            NaN
13          1    14   4-May-16     False            NaN
14          1    16   4-May-16     False            NaN
15          1    17   4-May-16     False            NaN
16          1    18   4-May-16     False            NaN
17          1    19   4-May-16     False            NaN
18          1    20   4-May-16     False            NaN
19          1    21   4-May-16     False            NaN
20          1    22   4-May-16     False            NaN
21          1    23   4-May-16     False            NaN
22          1    24   4-May-16     False            NaN
23          1    25   4-May-16     False            NaN
24          1    26   4-May-16     False            NaN
25          1    27   4-May-16     False            NaN
26          1    28   4-May-16     False            NaN
27          1    29   4-May-16     False            NaN
28          1    30   4-May-16     False            NaN
29          1    31   4-May-16     False            NaN
...       ...   ...        ...       ...            ...
153775     45    42  26-Apr-17     False            NaN
153776     45    44  26-Apr-17     False            NaN
153777     45    45  26-Apr-17     False            NaN
153778     45    46  26-Apr-17     False            NaN
153779     45    49  26-Apr-17     False            NaN
153780     45    52  26-Apr-17     False            NaN
153781     45    55  26-Apr-17     False            NaN
153782     45    56  26-Apr-17     False            NaN
153783     45    58  26-Apr-17     False            NaN
153784     45    59  26-Apr-17     False            NaN
153785     45    60  26-Apr-17     False            NaN
153786     45    67  26-Apr-17     False            NaN
153787     45    71  26-Apr-17     False            NaN
153788     45    72  26-Apr-17     False            NaN
153789     45    74  26-Apr-17     False            NaN
153790     45    79  26-Apr-17     False            NaN
153791     45    80  26-Apr-17     False            NaN
153792     45    81  26-Apr-17     False            NaN
153793     45    82  26-Apr-17     False            NaN
153794     45    83  26-Apr-17     False            NaN
153795     45    85  26-Apr-17     False            NaN
153796     45    87  26-Apr-17     False            NaN
153797     45    90  26-Apr-17     False            NaN
153798     45    91  26-Apr-17     False            NaN
153799     45    92  26-Apr-17     False            NaN
153800     45    93  26-Apr-17     False            NaN
153801     45    94  26-Apr-17     False            NaN
153802     45    95  26-Apr-17     False            NaN
153803     45    97  26-Apr-17     False            NaN
153804     45    98  26-Apr-17     False            NaN

[153805 rows x 5 columns]

In [7]:
data_features = pd.read_csv('features.csv')
data_features

,Store,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday
0,1,5-Feb-14,5.73,2.572,211.096358,8.106,False
1,2,5-Feb-14,4.55,2.572,210.752605,8.324,False
2,3,5-Feb-14,7.62,2.572,214.424881,7.368,False
3,4,5-Feb-14,6.53,2.598,126.442065,8.623,False
4,5,5-Feb-14,4.28,2.572,211.653972,6.566,False
5,6,5-Feb-14,4.68,2.572,212.622352,7.259,False
6,7,5-Feb-14,-11.93,2.580,189.381697,9.014,False
7,8,5-Feb-14,1.19,2.572,214.471451,6.299,False
8,9,5-Feb-14,3.34,2.572,214.655459,6.415,False
9,10,5-Feb-14,12.41,2.962,126.442065,9.765,False
10,11,5-Feb-14,7.80,2.572,214.424881,7.368,False
11,12,5-Feb-14,9.71,2.962,126.442065,13.975,False
12,13,5-Feb-14,-0.26,2.666,126.442065,8.316,False
13,14,5-Feb-14,-2.61,2.784,181.871190,8.992,False
14,15,5-Feb-14,-6.76,2.954,131.527903,8.350,False
15,16,5-Feb-14,-6.78,2.580,189.381697,7.039,False
16,17,5-Feb-14,-4.94,2.666,126.442065,6.548,False
17,18,5-Feb-14,-5.93,2.788,131.527903,9.202,False
18,19,5-Feb-14,-6.13,2.954,131.527903,8.350,False
19,20,5-Feb-14,-3.38,2.784,204.247194,8.187,False
20,21,5-Feb-14,3.92,2.572,210.752605,8.324,False
21,22,5-Feb-14,-4.24,2.788,135.352461,8.283,False
22,23,5-Feb-14,-9.31,2.788,131.527903,5.892,False
23,24,5-Feb-14,-5.32,2.954,131.527903,8.326,False
24,25,5-Feb-14,-6.06,2.784,204.247194,8.187,False
25,26,5-Feb-14,-12.47,2.788,131.527903,8.488,False
26,27,5-Feb-14,-2.67,2.954,135.352461,8.237,False
27,28,5-Feb-14,9.71,2.962,126.442065,13.975,False
28,29,5-Feb-14,-4.24,2.788,131.527903,10.064,False
29,30,5-Feb-14,3.92,2.572,210.752605,8.324,False
...,...,...,...,...,...,...,...
7575,16,26-Apr-17,1.88,3.568,201.070571,5.324,False
7576,17,26-Apr-17,5.81,3.541,132.716097,5.213,False
7577,18,26-Apr-17,8.88,3.626,139.122613,7.788,False
7578,19,26-Apr-17,8.52,3.806,139.122613,7.806,False
7579,20,26-Apr-17,9.24,3.615,217.742295,7.191,False
7580,21,26-Apr-17,14.81,3.417,224.802531,6.112,False
7581,22,26-Apr-17,9.29,3.626,143.220074,7.176,False
7582,23,26-Apr-17,6.68,3.626,139.122613,3.684,False
7583,24,26-Apr-17,9.17,3.806,139.122613,8.362,False
7584,25,26-Apr-17,7.73,3.615,217.742295,7.191,False
7585,26,26-Apr-17,4.47,3.626,139.122613,6.884,False
7586,27,26-Apr-17,10.49,3.806,143.220074,7.697,False
7587,28,26-Apr-17,21.52,3.889,132.716097,9.874,False
7588,29,26-Apr-17,9.29,3.626,139.122613,8.780,False
7589,30,26-Apr-17,14.81,3.417,224.802531,6.112,False
7590,31,26-Apr-17,14.81,3.417,224.802531,6.112,False
7591,32,26-Apr-17,5.23,3.568,201.070571,6.953,False
7592,33,26-Apr-17,24.75,3.889,132.716097,6.698,False
7593,34,26-Apr-17,14.74,3.397,132.716097,8.796,False
7594,35,26-Apr-17,10.49,3.615,143.220074,8.360,False
7595,36,26-Apr-17,18.00,3.455,223.836362,6.143,False
7596,37,26-Apr-17,18.00,3.417,223.836362,6.143,False
7597,38,26-Apr-17,21.52,3.889,132.716097,9.874,False
7598,39,26-Apr-17,17.75,3.417,223.836362,6.143,False
7599,40,26-Apr-17,6.91,3.626,139.122613,3.684,False
7600,41,26-Apr-17,2.07,3.568,201.070571,5.639,False
7601,42,26-Apr-17,23.67,3.889,132.716097,6.791,False
7602,43,26-Apr-17,19.86,3.417,216.443058,8.796,False
7603,44,26-Apr-17,8.98,3.541,132.716097,4.872,False
7604,45,26-Apr-17,10.36,3.615,193.589304,8.335,False

In [8]:
merged = pd.merge(data_test,data_features,how='inner',on=['Store','Date'])
merged['Week'] = pd.to_datetime(merged['Date']).dt.week
merged

,Store,Dept,Date,IsHoliday_x,SalesForecast,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday_y,Week
0,1,1,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
1,1,2,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
2,1,3,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
3,1,4,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
4,1,5,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
5,1,6,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
6,1,7,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
7,1,8,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
8,1,9,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
9,1,10,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
10,1,11,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
11,1,12,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
12,1,13,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
13,1,14,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
14,1,16,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
15,1,17,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
16,1,18,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
17,1,19,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
18,1,20,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
19,1,21,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
20,1,22,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
21,1,23,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
22,1,24,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
23,1,25,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
24,1,26,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
25,1,27,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
26,1,28,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
27,1,29,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
28,1,30,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
29,1,31,4-May-16,False,NaN,24.19,3.749,221.671800,7.143,False,18
...,...,...,...,...,...,...,...,...,...,...,...
153775,45,42,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153776,45,44,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153777,45,45,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153778,45,46,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153779,45,49,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153780,45,52,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153781,45,55,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153782,45,56,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153783,45,58,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153784,45,59,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153785,45,60,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153786,45,67,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153787,45,71,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153788,45,72,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153789,45,74,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153790,45,79,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153791,45,80,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153792,45,81,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153793,45,82,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153794,45,83,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153795,45,85,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153796,45,87,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153797,45,90,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153798,45,91,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153799,45,92,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153800,45,93,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153801,45,94,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153802,45,95,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153803,45,97,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17
153804,45,98,26-Apr-17,False,NaN,10.36,3.615,193.589304,8.335,False,17

In [9]:
del merged['Fuel_Price']
del merged['Unemployment']
del merged['Date']
del merged['IsHoliday_x']
merged

        Store  Dept  SalesForecast  Temperature         CPI IsHoliday_y  Week
0           1     1            NaN        24.19  221.671800       False    18
1           1     2            NaN        24.19  221.671800       False    18
2           1     3            NaN        24.19  221.671800       False    18
3           1     4            NaN        24.19  221.671800       False    18
4           1     5            NaN        24.19  221.671800       False    18
5           1     6            NaN        24.19  221.671800       False    18
6           1     7            NaN        24.19  221.671800       False    18
7           1     8            NaN        24.19  221.671800       False    18
8           1     9            NaN        24.19  221.671800       False    18
9           1    10            NaN        24.19  221.671800       False    18
10          1    11            NaN        24.19  221.671800       False    18
11          1    12            NaN        24.19  221.671800       False    18
12          1    13            NaN        24.19  221.671800       False    18
13          1    14            NaN        24.19  221.671800       False    18
14          1    16            NaN        24.19  221.671800       False    18
15          1    17            NaN        24.19  221.671800       False    18
16          1    18            NaN        24.19  221.671800       False    18
17          1    19            NaN        24.19  221.671800       False    18
18          1    20            NaN        24.19  221.671800       False    18
19          1    21            NaN        24.19  221.671800       False    18
20          1    22            NaN        24.19  221.671800       False    18
21          1    23            NaN        24.19  221.671800       False    18
22          1    24            NaN        24.19  221.671800       False    18
23          1    25            NaN        24.19  221.671800       False    18
24          1    26            NaN        24.19  221.671800       False    18
25          1    27            NaN        24.19  221.671800       False    18
26          1    28            NaN        24.19  221.671800       False    18
27          1    29            NaN        24.19  221.671800       False    18
28          1    30            NaN        24.19  221.671800       False    18
29          1    31            NaN        24.19  221.671800       False    18
...       ...   ...            ...          ...         ...         ...   ...
153775     45    42            NaN        10.36  193.589304       False    17
153776     45    44            NaN        10.36  193.589304       False    17
153777     45    45            NaN        10.36  193.589304       False    17
153778     45    46            NaN        10.36  193.589304       False    17
153779     45    49            NaN        10.36  193.589304       False    17
153780     45    52            NaN        10.36  193.589304       False    17
153781     45    55            NaN        10.36  193.589304       False    17
153782     45    56            NaN        10.36  193.589304       False    17
153783     45    58            NaN        10.36  193.589304       False    17
153784     45    59            NaN        10.36  193.589304       False    17
153785     45    60            NaN        10.36  193.589304       False    17
153786     45    67            NaN        10.36  193.589304       False    17
153787     45    71            NaN        10.36  193.589304       False    17
153788     45    72            NaN        10.36  193.589304       False    17
153789     45    74            NaN        10.36  193.589304       False    17
153790     45    79            NaN        10.36  193.589304       False    17
153791     45    80            NaN        10.36  193.589304       False    17
153792     45    81            NaN        10.36  193.589304       False    17
153793     45    82            NaN        10.36  193.589304       False    17
153794     45    83            NaN        10.36  193.589304       False    17
153795     45    85            NaN        10.36  193.589304       False    17
153796     45    87            NaN        10.36  193.589304       False    17
153797     45    90            NaN        10.36  193.589304       False    17
153798     45    91            NaN        10.36  193.589304       False    17
153799     45    92            NaN        10.36  193.589304       False    17
153800     45    93            NaN        10.36  193.589304       False    17
153801     45    94            NaN        10.36  193.589304       False    17
153802     45    95            NaN        10.36  193.589304       False    17
153803     45    97            NaN        10.36  193.589304       False    17
153804     45    98            NaN        10.36  193.589304       False    17

[153805 rows x 7 columns]

In [10]:
merged.rename(columns={'IsHoliday_y':'IsHoliday'},inplace=True)
merged

        Store  Dept  SalesForecast  Temperature         CPI IsHoliday  Week
0           1     1            NaN        24.19  221.671800     False    18
1           1     2            NaN        24.19  221.671800     False    18
2           1     3            NaN        24.19  221.671800     False    18
3           1     4            NaN        24.19  221.671800     False    18
4           1     5            NaN        24.19  221.671800     False    18
5           1     6            NaN        24.19  221.671800     False    18
6           1     7            NaN        24.19  221.671800     False    18
7           1     8            NaN        24.19  221.671800     False    18
8           1     9            NaN        24.19  221.671800     False    18
9           1    10            NaN        24.19  221.671800     False    18
10          1    11            NaN        24.19  221.671800     False    18
11          1    12            NaN        24.19  221.671800     False    18
12          1    13            NaN        24.19  221.671800     False    18
13          1    14            NaN        24.19  221.671800     False    18
14          1    16            NaN        24.19  221.671800     False    18
15          1    17            NaN        24.19  221.671800     False    18
16          1    18            NaN        24.19  221.671800     False    18
17          1    19            NaN        24.19  221.671800     False    18
18          1    20            NaN        24.19  221.671800     False    18
19          1    21            NaN        24.19  221.671800     False    18
20          1    22            NaN        24.19  221.671800     False    18
21          1    23            NaN        24.19  221.671800     False    18
22          1    24            NaN        24.19  221.671800     False    18
23          1    25            NaN        24.19  221.671800     False    18
24          1    26            NaN        24.19  221.671800     False    18
25          1    27            NaN        24.19  221.671800     False    18
26          1    28            NaN        24.19  221.671800     False    18
27          1    29            NaN        24.19  221.671800     False    18
28          1    30            NaN        24.19  221.671800     False    18
29          1    31            NaN        24.19  221.671800     False    18
...       ...   ...            ...          ...         ...       ...   ...
153775     45    42            NaN        10.36  193.589304     False    17
153776     45    44            NaN        10.36  193.589304     False    17
153777     45    45            NaN        10.36  193.589304     False    17
153778     45    46            NaN        10.36  193.589304     False    17
153779     45    49            NaN        10.36  193.589304     False    17
153780     45    52            NaN        10.36  193.589304     False    17
153781     45    55            NaN        10.36  193.589304     False    17
153782     45    56            NaN        10.36  193.589304     False    17
153783     45    58            NaN        10.36  193.589304     False    17
153784     45    59            NaN        10.36  193.589304     False    17
153785     45    60            NaN        10.36  193.589304     False    17
153786     45    67            NaN        10.36  193.589304     False    17
153787     45    71            NaN        10.36  193.589304     False    17
153788     45    72            NaN        10.36  193.589304     False    17
153789     45    74            NaN        10.36  193.589304     False    17
153790     45    79            NaN        10.36  193.589304     False    17
153791     45    80            NaN        10.36  193.589304     False    17
153792     45    81            NaN        10.36  193.589304     False    17
153793     45    82            NaN        10.36  193.589304     False    17
153794     45    83            NaN        10.36  193.589304     False    17
153795     45    85            NaN        10.36  193.589304     False    17
153796     45    87            NaN        10.36  193.589304     False    17
153797     45    90            NaN        10.36  193.589304     False    17
153798     45    91            NaN        10.36  193.589304     False    17
153799     45    92            NaN        10.36  193.589304     False    17
153800     45    93            NaN        10.36  193.589304     False    17
153801     45    94            NaN        10.36  193.589304     False    17
153802     45    95            NaN        10.36  193.589304     False    17
153803     45    97            NaN        10.36  193.589304     False    17
153804     45    98            NaN        10.36  193.589304     False    17

[153805 rows x 7 columns]

In [11]:
merged.IsHoliday = merged.IsHoliday.astype(np.int32)
merged

        Store  Dept  SalesForecast  Temperature         CPI  IsHoliday  Week
0           1     1            NaN        24.19  221.671800          0    18
1           1     2            NaN        24.19  221.671800          0    18
2           1     3            NaN        24.19  221.671800          0    18
3           1     4            NaN        24.19  221.671800          0    18
4           1     5            NaN        24.19  221.671800          0    18
5           1     6            NaN        24.19  221.671800          0    18
6           1     7            NaN        24.19  221.671800          0    18
7           1     8            NaN        24.19  221.671800          0    18
8           1     9            NaN        24.19  221.671800          0    18
9           1    10            NaN        24.19  221.671800          0    18
10          1    11            NaN        24.19  221.671800          0    18
11          1    12            NaN        24.19  221.671800          0    18
12          1    13            NaN        24.19  221.671800          0    18
13          1    14            NaN        24.19  221.671800          0    18
14          1    16            NaN        24.19  221.671800          0    18
15          1    17            NaN        24.19  221.671800          0    18
16          1    18            NaN        24.19  221.671800          0    18
17          1    19            NaN        24.19  221.671800          0    18
18          1    20            NaN        24.19  221.671800          0    18
19          1    21            NaN        24.19  221.671800          0    18
20          1    22            NaN        24.19  221.671800          0    18
21          1    23            NaN        24.19  221.671800          0    18
22          1    24            NaN        24.19  221.671800          0    18
23          1    25            NaN        24.19  221.671800          0    18
24          1    26            NaN        24.19  221.671800          0    18
25          1    27            NaN        24.19  221.671800          0    18
26          1    28            NaN        24.19  221.671800          0    18
27          1    29            NaN        24.19  221.671800          0    18
28          1    30            NaN        24.19  221.671800          0    18
29          1    31            NaN        24.19  221.671800          0    18
...       ...   ...            ...          ...         ...        ...   ...
153775     45    42            NaN        10.36  193.589304          0    17
153776     45    44            NaN        10.36  193.589304          0    17
153777     45    45            NaN        10.36  193.589304          0    17
153778     45    46            NaN        10.36  193.589304          0    17
153779     45    49            NaN        10.36  193.589304          0    17
153780     45    52            NaN        10.36  193.589304          0    17
153781     45    55            NaN        10.36  193.589304          0    17
153782     45    56            NaN        10.36  193.589304          0    17
153783     45    58            NaN        10.36  193.589304          0    17
153784     45    59            NaN        10.36  193.589304          0    17
153785     45    60            NaN        10.36  193.589304          0    17
153786     45    67            NaN        10.36  193.589304          0    17
153787     45    71            NaN        10.36  193.589304          0    17
153788     45    72            NaN        10.36  193.589304          0    17
153789     45    74            NaN        10.36  193.589304          0    17
153790     45    79            NaN        10.36  193.589304          0    17
153791     45    80            NaN        10.36  193.589304          0    17
153792     45    81            NaN        10.36  193.589304          0    17
153793     45    82            NaN        10.36  193.589304          0    17
153794     45    83            NaN        10.36  193.589304          0    17
153795     45    85            NaN        10.36  193.589304          0    17
153796     45    87            NaN        10.36  193.589304          0    17
153797     45    90            NaN        10.36  193.589304          0    17
153798     45    91            NaN        10.36  193.589304          0    17
153799     45    92            NaN        10.36  193.589304          0    17
153800     45    93            NaN        10.36  193.589304          0    17
153801     45    94            NaN        10.36  193.589304          0    17
153802     45    95            NaN        10.36  193.589304          0    17
153803     45    97            NaN        10.36  193.589304          0    17
153804     45    98            NaN        10.36  193.589304          0    17

[153805 rows x 7 columns]

In [12]:
sales = merged['SalesForecast']
del merged['SalesForecast']
merged

        Store  Dept  Temperature         CPI  IsHoliday  Week
0           1     1        24.19  221.671800          0    18
1           1     2        24.19  221.671800          0    18
2           1     3        24.19  221.671800          0    18
3           1     4        24.19  221.671800          0    18
4           1     5        24.19  221.671800          0    18
5           1     6        24.19  221.671800          0    18
6           1     7        24.19  221.671800          0    18
7           1     8        24.19  221.671800          0    18
8           1     9        24.19  221.671800          0    18
9           1    10        24.19  221.671800          0    18
10          1    11        24.19  221.671800          0    18
11          1    12        24.19  221.671800          0    18
12          1    13        24.19  221.671800          0    18
13          1    14        24.19  221.671800          0    18
14          1    16        24.19  221.671800          0    18
15          1    17        24.19  221.671800          0    18
16          1    18        24.19  221.671800          0    18
17          1    19        24.19  221.671800          0    18
18          1    20        24.19  221.671800          0    18
19          1    21        24.19  221.671800          0    18
20          1    22        24.19  221.671800          0    18
21          1    23        24.19  221.671800          0    18
22          1    24        24.19  221.671800          0    18
23          1    25        24.19  221.671800          0    18
24          1    26        24.19  221.671800          0    18
25          1    27        24.19  221.671800          0    18
26          1    28        24.19  221.671800          0    18
27          1    29        24.19  221.671800          0    18
28          1    30        24.19  221.671800          0    18
29          1    31        24.19  221.671800          0    18
...       ...   ...          ...         ...        ...   ...
153775     45    42        10.36  193.589304          0    17
153776     45    44        10.36  193.589304          0    17
153777     45    45        10.36  193.589304          0    17
153778     45    46        10.36  193.589304          0    17
153779     45    49        10.36  193.589304          0    17
153780     45    52        10.36  193.589304          0    17
153781     45    55        10.36  193.589304          0    17
153782     45    56        10.36  193.589304          0    17
153783     45    58        10.36  193.589304          0    17
153784     45    59        10.36  193.589304          0    17
153785     45    60        10.36  193.589304          0    17
153786     45    67        10.36  193.589304          0    17
153787     45    71        10.36  193.589304          0    17
153788     45    72        10.36  193.589304          0    17
153789     45    74        10.36  193.589304          0    17
153790     45    79        10.36  193.589304          0    17
153791     45    80        10.36  193.589304          0    17
153792     45    81        10.36  193.589304          0    17
153793     45    82        10.36  193.589304          0    17
153794     45    83        10.36  193.589304          0    17
153795     45    85        10.36  193.589304          0    17
153796     45    87        10.36  193.589304          0    17
153797     45    90        10.36  193.589304          0    17
153798     45    91        10.36  193.589304          0    17
153799     45    92        10.36  193.589304          0    17
153800     45    93        10.36  193.589304          0    17
153801     45    94        10.36  193.589304          0    17
153802     45    95        10.36  193.589304          0    17
153803     45    97        10.36  193.589304          0    17
153804     45    98        10.36  193.589304          0    17

[153805 rows x 6 columns]

In [13]:
test_data = merged.as_matrix()
test_data

array([[   1.      ,    1.      ,   24.19    ,  221.6718  ,    0.      ,
          18.      ],
       [   1.      ,    2.      ,   24.19    ,  221.6718  ,    0.      ,
          18.      ],
       [   1.      ,    3.      ,   24.19    ,  221.6718  ,    0.      ,
          18.      ],
       ...,
       [  45.      ,   95.      ,   10.36    ,  193.589304,    0.      ,
          17.      ],
       [  45.      ,   97.      ,   10.36    ,  193.589304,    0.      ,
          17.      ],
       [  45.      ,   98.      ,   10.36    ,  193.589304,    0.      ,
          17.      ]])

In [14]:
# Load Model
json_file = open('model.json','r')
loaded_model_json = json_file.read()
json_file.close()
model = model_from_json(loaded_model_json)
# Load weights
model.load_weights('model.h5')

In [16]:
model.compile(loss='mean_squared_error',optimizer='adam')
predictions = model.predict(test_data,verbose=1)

151616/153805 [============================>.] - ETA: 0s 

# PREDICTION RESULTS

In [20]:
final_dataframe = pd.read_csv('test.csv')
final_dataframe['SalesForecast'] = predictions 
final_dataframe.to_csv('ans.csv')
final_dataframe

        Store  Dept       Date IsHoliday  SalesForecast
0           1     1   4-May-16     False  103095.593750
1           1     2   4-May-16     False  103317.562500
2           1     3   4-May-16     False  103539.531250
3           1     4   4-May-16     False  103761.500000
4           1     5   4-May-16     False  103983.468750
5           1     6   4-May-16     False  104205.453125
6           1     7   4-May-16     False  104427.406250
7           1     8   4-May-16     False  104649.382812
8           1     9   4-May-16     False  104871.359375
9           1    10   4-May-16     False  105093.320312
10          1    11   4-May-16     False  105315.296875
11          1    12   4-May-16     False  105537.265625
12          1    13   4-May-16     False  105759.234375
13          1    14   4-May-16     False  105981.195312
14          1    16   4-May-16     False  106425.148438
15          1    17   4-May-16     False  106647.109375
16          1    18   4-May-16     False  106869.093750
17          1    19   4-May-16     False  107091.062500
18          1    20   4-May-16     False  107313.023438
19          1    21   4-May-16     False  107535.000000
20          1    22   4-May-16     False  107756.960938
21          1    23   4-May-16     False  107978.937500
22          1    24   4-May-16     False  108200.906250
23          1    25   4-May-16     False  108422.875000
24          1    26   4-May-16     False  108644.843750
25          1    27   4-May-16     False  108866.812500
26          1    28   4-May-16     False  109088.781250
27          1    29   4-May-16     False  109310.757812
28          1    30   4-May-16     False  109532.726562
29          1    31   4-May-16     False  109754.703125
...       ...   ...        ...       ...            ...
153775     45    42  26-Apr-17     False   51025.046875
153776     45    44  26-Apr-17     False   51469.039062
153777     45    45  26-Apr-17     False   51691.039062
153778     45    46  26-Apr-17     False   51913.035156
153779     45    49  26-Apr-17     False   52579.015625
153780     45    52  26-Apr-17     False   53245.007812
153781     45    55  26-Apr-17     False   53910.992188
153782     45    56  26-Apr-17     False   54132.984375
153783     45    58  26-Apr-17     False   54576.972656
153784     45    59  26-Apr-17     False   54798.976562
153785     45    60  26-Apr-17     False   55020.968750
153786     45    67  26-Apr-17     False   56574.933594
153787     45    71  26-Apr-17     False   57462.921875
153788     45    72  26-Apr-17     False   57684.914062
153789     45    74  26-Apr-17     False   58128.906250
153790     45    79  26-Apr-17     False   59238.878906
153791     45    80  26-Apr-17     False   59460.882812
153792     45    81  26-Apr-17     False   59682.871094
153793     45    82  26-Apr-17     False   59904.867188
153794     45    83  26-Apr-17     False   60126.863281
153795     45    85  26-Apr-17     False   60570.855469
153796     45    87  26-Apr-17     False   61014.843750
153797     45    90  26-Apr-17     False   61680.828125
153798     45    91  26-Apr-17     False   61902.832031
153799     45    92  26-Apr-17     False   62124.828125
153800     45    93  26-Apr-17     False   62346.816406
153801     45    94  26-Apr-17     False   62568.816406
153802     45    95  26-Apr-17     False   62790.812500
153803     45    97  26-Apr-17     False   63234.800781
153804     45    98  26-Apr-17     False   63456.796875

[153805 rows x 5 columns]